@charset "utf-8";

body {
    display: grid;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(150deg, #9f8170, #006a4e); */
    background: radial-gradient(circle, rgb(169, 82, 67), rgb(75, 75, 207));
}

.container {
    display: grid;
    place-items: center;
    justify-content: center;
}

h1 {
    font-size: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

form {
    position: relative;
    width: 25rem;
    height: 3rem;
    display: grid;
    justify-content: center;
}


.input {
    width: 75%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 8px;
    padding-left:  12px;
    font-size: 28px;
}

.input.invalid {
    border-color: red;
}

.create-button {
    width: 24%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 8px;
    right: 0px;
    top: 0px;
    font-size: 20px;
    font-weight: 550;
}

.create-button:hover {
    background-color: rgba(86, 86, 208, 0.807);
}

.list {
    margin-top: 10px;
}

.list ul {
    list-style: none;
    padding: 0;
    width: 275px;
}

.list li {
    padding: 10px;
    background-color: #fcf9f9c2;
    border-radius: 2px;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
}

.list li:hover {
    color: #fff;
    background-color: rgba(75, 75, 207, 0.841);
}

.movie-show {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 700px;
    justify-content: space-evenly;
}

img {
    width: 242px;
}

.content {
    width: 400px;
}

@media (max-width: 480px) {

    body {
        height: 210vh;
    }
}